<% if user_signed_in? %>
  <% if current_user.liked_by?(record) %>
    <%= link_to '', habit_record_likes_path(@habits.ids, record.id), method: :DELETE, remote: true, class:"bi bi-heart-fill"%>
  <% else %>
    <%= link_to '', habit_record_likes_path(@habits.ids, record.id), method: :POST, remote: true, class:"bi bi-heart"%>
  <% end %>
<% else %>
  <div class="bi bi-heart"></div>
<% end %>

<%= record.likes.count %>