<h1>記録詳細画面</h1>

<%= render partial: 'records/record', locals: { record: @record } %>
<%= @record.text %>

<% if user_signed_in? && current_user.id == @record.user_id%>
  <%= link_to "記録を削除", habit_record_path(@record.id), method: :delete %>
  <%= link_to "記録を編集", edit_habit_record_path(@record.id), method: :get %>
<% end %>