<div class="heading h2">記録詳細画面ページ</div>

<%= render partial: 'records/record', locals: { record: @record } %>

<div class="habit container my-5">
  <div class="container" style="height:auto;">
    <div class="h3 pt-3 d-flex justify-content-center">記録内容</div>
    <% if @record.text.present? %>
      <div class="h5 p-3 d-flex justify-content-center"><%= safe_join(@record.text.split("\n"),tag(:br)) %></div>
    <% else %>
      <div class="h5 p-3 d-flex justify-content-center">内容はありません</div>
    <% end %>
  </div>
  <div class="p-3 d-flex justify-content-around">
  <% if user_signed_in? && current_user.id == @record.user_id%>
    <%= link_to "記録を編集", edit_habit_record_path(@habit.id, @record.id), class: "btn btn-outline-warning", method: :get %>
    <%= link_to "記録を削除", habit_record_path(@habit.id, @record.id), class: "btn btn-outline-danger", method: :delete, data: {confirm: "本当に削除しますか？"} %>
  <% end %>
</div>
</div>