<h1>習慣化アプリトップページ</h1>
<% @records.first(4).each do |record| %>
  <%= render partial: 'records/record', locals: { record: record } %>
<% end %>

<% if @habits.ids.present? %>
  <%= link_to "記録する", new_habit_record_path(@habits.ids), method: :get %>
<% end %>

<%= javascript_pack_tag 'habit/index' %>
<div id='calendar'></div>